{% extends "did_auth/base.html" %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded-xl shadow">
    <h2 class="text-xl font-semibold mb-4">Change Password</h2>


<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="space-y-4">
        {{ form.current_password.label_tag }}
        {{ form.current_password }}

        {{ form.new_password.label_tag }}
        {{ form.new_password }}

        {{ form.confirm_password.label_tag }}
        {{ form.confirm_password }}
    </div>

    <button class="mt-6 w-full bg-blue-600 text-white py-2 rounded">
        Update Password
    </button>
</form>


</div>
{% endblock %}
